body{
    background: #f5f7f4;
    background: radial-gradient(circle,rgba(245, 173, 100, 1) 0%, rgba(107, 11, 191, 1) 100%);
}

.container{
    padding-top: 30px;
    width: 600px;
    padding-bottom: 300px; 
    text-align: left;
}

h3{
    color: rgb(255, 255, 255);
    font: 600%; 
    text-align: left;
}

h1{
    color:rgb(18, 18, 19);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 60px;
    font-size: 300px;
    font-style: bold;
    text-align: left;
}

h4{
    color:rgb(252, 250, 249); 
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: xx-large;
    font-size: bold;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: white;
    font-size: x-large;
    width: 900px; 
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    padding: 3rem 0;
    text-align: left;
    border: 3px solid;
    border-radius: 25%;
}

.image{
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: center;
    text-align: left;
    border-radius: 25%;
}