body{
    background-color: rgb(69, 6, 117);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: rgb(224, 222, 227);
    text-align: center;
    padding: 22px;
}

form {
    border: 1px solid;
    border-radius: 9px;
    font-weight: bold;
    background-color: rgb(186, 169, 225);
    font-family: Arial, Helvetica, sans-serif; 
    padding: 20px;
    margin-top: 50px;
    width: 280 px;
    margin-left: auto;
    margin-right: auto;
}

.home-list-items{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.list{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.to-do-container{
    font-weight: bold;
}